<!DOCTYPE html>
<html lang="ja">
  <div class="container_fluid">
    <head>
      <meta charset="UTF-8">
      <link rel="stylesheet" href="normalize.css">
      <link rel="stylesheet" href="style.css">
    </head>
    <body>
      <section class="main-header">
      </section>
      <section class="about">
        <h1>About</h1>
        <p>
          各大学の授業の評価が載っています<br>
          サイトを参考に履修登録をしましょう！
        </p>
      </section>
      <section class="function">
        <h1>Function</h1>
      </section>
    </body>
  </div>
</html>
