.favoritelist_left{
  height: 170px;
  border: solid 1px #808080;
  text-align: left;
  padding: 5px;
  margin: 0px;
  margin-right: -15px;
  margin-left: -15px;
}

.favoritelist_right{
  height: 170px;
  border: solid 1px #808080;
  text-align: left;
  padding: 5px;
  margin: 0px;
  margin-right: -15px;
  margin-left: -15px;
}
