.navbar-default{
  background-color: #ADFF2F;
}

.navbar-nav{
  float: right;
  background-position: center;
}

.main-header {
  padding-bottom: 15%;
  width: 100%;
  background-size: cover;
  background-image: url("back_image.jpg");
  background-attachment: fixed;
}

.main-header img {
  display: block;
  margin: 0 auto;
  width: 25%;
  padding-top: 15%;
}

.navbar-nav li a{
  padding-top: 8px;
  padding-bottom: 8px;
}

.button_to_main{
  margin-top: 5px;
}

.search_bar{
  margin-top: 5px;
}

.button_to_login{
  display: inline-block;
  margin-top: 5px;
  padding: 7px 20px;
	border-radius: 25px;
  text-decoration: none;
  color: #FFF;
  background-position: center center;
  background-image: -webkit-linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
  background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
  transition: .4s;
}

.button_to_login:hover {
    background-image: -webkit-linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
    background-image: linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
}

.about {
  background-color: white;
  color: #333;
  padding: 80px;
}

.index_header li{
  margin: 10px;
  list-style-type: none;
  display: inline;
}

.index_header_main {
  font-size: 30px;
}

.button_to_new{
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0.5em;
    text-decoration: none;
    border-bottom: solid 3px #668ad8;
    border-left: solid 3px #668ad8;
    color: #668ad8;
    transition: .4s;
    }

.button_to_new:hover {
    padding-left: 0.7em;
    padding-right: 0.3em;
}

.row_B_A {

}

footer {
  width: 100%;
  background-color:#2c3e50;
  padding: 15px 0 5px 0;
  color: white;
  margin: auto;
  font-size: 12px;
  position: absolute;
  bottom: 0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  text-align: center;
}
